*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #FF0101;
}

*::-webkit-scrollbar:hover {
    width: 16px;
}